<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid-19 Tracker</title>
 
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
  </head>
  <body>
      <div class="container">

    <section class="row">

      <div class="col-12">
        <img src="{{url_for('static', filename='img/rec.png')}}" alt="App Logo" />
        <h1 class="d-inline">Yison Covid-19 Tracker</h1>
      </div>

    </section>

    <section class="row">
        <div class="col-12">
            <span id="Country" class="mr-3">Ghana'Stats</span>
            &verbar;
            <select name="" id="countries" class="ml-3 shadow">
                <option value="">select a country</option>
            </select>
        </div>
    </section>
    <section class="row my-2">
        
        <div class="col-md-3">
            <div class="text-white bg-info shadow rounded pl-3 py-4">
            <span>Total Cases</span0>
            <h3 class="cases" id="total">loading... </h3>
          </div>
        </div>
        <div class="col-md-3">
            <div class="text-white bg-success shadow rounded pl-3 py-4">
            <span>Recovered</span>
            <h3 class="cases" id="recovered">loading...</h3>
        </div>
        </div>
        <div class="col-md-3">
            <div class="text-white bg-danger shadow rounded pl-3 py-4">
            <span>Active Cases</span>
            <h3 class="cases" id="active">loading... </h3>
        </div>
        </div>
        <div class="col-md-3">
            <div class="text-white bg-dark shadow rounded pl-3 py-4">
            <span>Deaths</span>
            <h3 class="cases" id="deaths">loading... </h3>
        </div>
        </div>

  
    </section>
    <section class="row">
<div class="col-12">
    <table class="table table-hover">
        <thead>
            <th>#</th>
            <th>Country</th>
            <th>Recovered</th>
            <th>Confirmed</th>
            <th>Active Cases</th>
            <th>Deaths</th>
            <tbody id="all-countries"></tbody>
        </thead>
    </table>
</div>
    </section>
    </div>
    <script src="{{url_for('static',filename='js/index.js')}}"></script>
  </body>
</html>
